/* Styles for html */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  background-color: #f8f3d4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 150px;
}

#logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  background: #00b8a9;
  border-radius: 15px;
  font-size: 60px;
  color: #ffde7d;
}

/*note to self: need to fix the brain image to retain it's colour */
#brain {
  position: relative;
  background: #ffde7d;
  mix-blend-mode: darken; /* gets rid of white background of jpg file*/
}

.searchbar {
  width: 456px;
  height: 50px;
  position: relative;
  display: flex;
}

.search-input {
  position: relative;
  width: 500px;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  border: 5px solid #00b8a9;
  padding: 5px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

.search-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 10px;
  background: #ffde7d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 43px;
  mix-blend-mode: darken; /* gets rid of white background of jpg file*/
}

.search-button:hover {
  transform: translateY(-10%);
}

#user {
  position: relative;
  background: #ffde7d;
  mix-blend-mode: darken; /* gets rid of white background of jpg file*/
  cursor: pointer;
}

#user:hover {
  transform: translateY(-10%);
}

#hamburger:hover {
  transform: translateY(-10%);
}

#hamburger {
  position: relative;
  background: #ffde7d;
  mix-blend-mode: darken; /* gets rid of white background of jpg file*/
  cursor: pointer;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 500px);
  padding-top: 200px;
  gap: 50px;
  width: 100%;
  margin: 0;
}

.game {
  position: relative;
  display: flex;
  background: #f6416c;
  border-radius: 45px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  cursor: pointer;
}

.game:hover {
  transform: scale(105%);
}

.game i {
  position: relative;
  font-size: 170px;
  color: #ffde7d;
}

.game p {
  position: relative;
  font-size: 40px;
  color: black;
  text-align: center;
}

.top-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50%;
}

.hangman-image {
  mix-blend-mode: darken; /* gets rid of white background of jpg file*/
  display: flex;
  height: 100%;
  width: 50%;
}

.letter-grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  gap: 5px;
  margin: 20px;
  width: 50%;
}

.letter {
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #ffde7d;
  width: 100%;
  font-size: 40px;
  background-color: #00b8a9;
  cursor: pointer;
}

.letter:hover {
  scale: 105%;
}

.hidden {
  display: none;
}

.word-container {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(2, 50px);
  top: 70%;
  left: 40%;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#country-container,
#capital-container {
  display: flex;
  font-size: 70px;
}
